<div class= "center" id="container-fluid">
<div class="row">
    <div class="col-md-8">
      <div class="well well-lg">
<h1 class="text-center">Welcome to My365!</h1><br>

<table class="table table-hover">
<thead>
  <tr>
   <th class="text-center">We can all use some positivity in our lives! Here's a few suggestions:</th>
   
  </tr>
</thead>
<% array = Array(0...@events.length) %>
  
<% array.shuffle! %>
<% arr1 = array[0..4] %>

<% arr1.each do |i| %>

  <%@events.each do |event| %>
    <% if event.digit == i %>
      <tr class="text-center">
      <td><%= link_to event.event, userprofile_path(event) %></td>
      <!-- <td><%= event.c_at %></td>
      <td><%= event.u_at %></td>
      <td><%= link_to "Add comments or description", new_userprofile_path(event) %></td> -->
      </tr>
    <% end %>
  <% end %>
<% end %>
</table><br>
<p class="text-center"><%= link_to "Can't decide? Click me!!", userprofiles_path %></p>
</div>
</div>
</div>
</div>


<!-- <ul>
  <% @events.each do |show| %>
    <li>
     <%= show.event %>
    <%= link_to show.event, userprofiles_path(show) %>
    </li>
  <% end %>
</ul> -->