
<div id="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="well well-lg">

<h1>Edit User's profile events list</h1>

<%= form_for @event do |e| %>

	
	<div class="field">
		<%= e.label :event %><br>
		<%= e.text_area :event %>
	</div>
	<div class="field">
		<%= e.label :digit %><br>
		<%= e.text_field :digit %>
	</div>
	<div class="actions">
		<br>
		<%= e.submit %>

	</div>
	<% end %>
<br>

<%= link_to "Take me back to the complete events", events_path %>
</div>
</div>
</div>
