<h1> here is events/index.html.erb</h1>

<table>
<thead>
  <tr>
   <th>Events</th>
   <th>Number</th>
   
  </tr>
</thead>
<%@events.each do |e| %>
   <tr>
   <td><%= e.event %></td>
   <td><%= e.digit %></td>
   <td><%= link_to "Delete", event_path(e), method: :delete, data: { confirm: "Are you sure you want to delete #{e.event}?"} %></td>


   <td><%= link_to 'Edit', edit_event_path(e) %></td>
   </tr>
<% end %>

</table>


<br>
<%= link_to 'View User Profiles', userprofiles_path %><br>
<%= link_to 'New Event', new_event_path %>