<div class= "center" id="container-fluid">
  
  

    <div class="col-md-8">
      <div class="well well-lg">
        <h1 class="text-center">My365</h1>
        <h1 class="text-center">Admin page</h1><br>
<table class="table table-hover">
<thead>
  <tr>
   <th>Events</th>
   <th>#</th>
   
  </tr>
</thead>
<%@events.each do |e| %>
   <tr>
   <td><%= e.event %></td>
   <td><%= e.digit %></td>
   <td><%= link_to "Delete", event_path(e), method: :delete, data: { confirm: "Are you sure you want to delete #{e.event}?"} %></td>


   <td><%= link_to 'Edit', edit_event_path(e) %></td>
   </tr>
<% end %>

</table>


<br>
<div class="text-center">
<%= link_to 'View User Profiles', userprofiles_path %><br>
<%= link_to 'New Event', new_event_path %>
</div>


</div>
</div>
</div>