<div id="container-fluid">
	<div class="well well-lg">
<h1>New Event</h1>

<%= form_for @event do |e| %>

	
	<div class="field">
		<%= e.label :event %><br>
		<%= e.text_area :event %>
	</div>
	<div class="field">
		<%= e.label :digit %><br>
		<%= e.text_area :digit %>
	</div>
	<div class="actions">
		<br>
		<%= e.submit %>

	</div>
	<% end %>
	<br>

	<%= link_to 'View User Profiles', userprofiles_path %>
	<%= link_to 'View complete Events database', events_path %>
</div>
</div>